name: Build and Test for Continuous Integration

on:
  pull_request:
    branches: [ backend-dev ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    
    - name: Build with Gradle
      run: ./gradlew clean build -x test
      
    - name: Test with Gradle
      run: SPRING_PROFILES_ACTIVE=[test] ./gradlew test
